* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #cfefff;
    text-align: center;
}


header {
    background-color: #9ddcff;
    padding: 20px;
    position: relative;
}

.logo {
    width: 80px;
    position: absolute;
    top: 15px;
    left: 15px;
}

header h1 {
    color: #003366;
}

header p {
    margin-top: 5px;
}


main {
    max-width: 1100px;
    margin: auto;
}

.presentacion {
    padding: 30px;
}

.areas {
    padding: 30px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: white;
    width: 280px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    padding-bottom: 15px;
}

.card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card h3 {
    margin: 10px 0;
    color: #005fa3;
}

.card p {
    padding: 0 10px;
    font-size: 14px;
}


footer {
    background-color: #9ddcff;
    padding: 15px;
    margin-top: 30px;
}


.btn-inscribete {
  background-color: #d45e5e; /* rojo */
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-inscribete:hover {
  background-color: #cc0000;
  transform: scale(1.05);
}
